/* styles for Alien Factory */

* {
	box-sizing: border-box;
	font-family: 'Grandstander', Arial, sans-serif;
}

html {
	height: 100%;
	background: radial-gradient(circle at 70% 50%, #fff, #9198e5);
}

/* **************************************************** */
/* code for palette and subpalette                      */
/* **************************************************** */


#palette {
	background-color: #dddddd;
	position: relative;
	height: 70vh;
	width: 20vw;
	top: 15vh;
	left: 15vh;
	overflow: hidden;
	border-radius: 1vh;
	border: 1px solid #555555;
}

.features {
	position: relative;
	height: 10%;
	width: 20vw;
	border-top: 1px solid #555555;
	transition: height 0.5s;
	background-color: #dddddd;
}

.features h1 {
	display: block;
	height: 7vh;
	padding: 8px 0 0 8px;
	margin: 0;
	font-size: 44px;
	text-transform: uppercase;
	background-color: #999999;
}

.options {
	position: relative;
	height: auto;
	width: 20vw;
	padding: 8px;
}

.options div {
	position: relative;
	display: inline-block;
	height: 9vw;
	width: 9vw;
	margin: 1px;
	background-color: #fff;
	border-radius: 1vw;
	text-transform: uppercase;
	overflow: hidden;
}

.options div img {
	width: 100%;
	height: 100%;
}

#featuresBody {
	height: 70%;
	border-top: none;
}

/* when the Face is showing */
#palette.showFace #featuresFace {
	height: 70%;
}

#palette.showFace #featuresBody,
#palette.showFace #featuresArms,
#palette.showFace #featuresFeet {
	height: 10%;
}

#palette.showFace #featuresBody .options,
#palette.showFace #featuresArms .options,
#palette.showFace #featuresFeet .options {
	display: none;
}



/* when the Body is showing */
#palette.showBody #featuresBody {
	height: 70%;
}

#palette.showBody #featuresFace,
#palette.showBody #featuresArms,
#palette.showBody #featuresFeet {
	height: 10%;
}

#palette.showBody #featuresFace .options,
#palette.showBody #featuresArms .options,
#palette.showBody #featuresFeet .options {
	display: none;
}


/* when the Arms is showing */
#palette.showArms #featuresArms {
	height: 70%;
}

#palette.showArms #featuresFace,
#palette.showArms #featuresBody,
#palette.showArms #featuresFeet {
	height: 10%;
}

#palette.showArms #featuresFace .options,
#palette.showArms #featuresBody .options,
#palette.showArms #featuresFeet .options {
	display: none;
}


/* when the Feet is showing */
#palette.showFeet #featuresFeet {
	height: 70%;
}

#palette.showFeet #featuresFace,
#palette.showFeet #featuresBody,
#palette.showFeet #featuresArms {
	height: 10%;
}

#palette.showFeet #featuresFace .options,
#palette.showFeet #featuresBody .options,
#palette.showFeet #featuresArms .options {
	display: none;
}




/* **************************************************** */
/* code for avatar preview                              */
/* **************************************************** */

#preview {
	position: absolute;
	top: 5vh;
	right: 20vh;
	width: 90vh;
	height: 90vh;
}

#preview div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
}

#welcomeBox {
	text-align: center;
	padding-top: 10vh;
}

#welcomeBox h1 {
	font-size: 500%;
}

#welcomeBox p {
	font-size: 300%;
}



#previewFace {
	z-index: 1;
}

#previewFace.robot { 		background-image: url("images/face-robot.png"); 		}
#previewFace.cyclops { 	background-image: url("images/face-cyclops.png");		}
#previewFace.birdman { 	background-image: url("images/face-birdman.png"); 	}

#previewBody.robot { 		background-image: url("images/body-robot.png"); 		}
#previewBody.cyclops { 	background-image: url("images/body-cyclops.png");		}
#previewBody.birdman { 	background-image: url("images/body-birdman.png"); 	}

#previewArms.robot { 		background-image: url("images/arms-robot.png"); 		}
#previewArms.cyclops { 	background-image: url("images/arms-cyclops.png");		}
#previewArms.birdman { 	background-image: url("images/arms-birdman.png"); 	}

#previewFeet.robot { 		background-image: url("images/feet-robot.png"); 		}
#previewFeet.cyclops { 	background-image: url("images/feet-cyclops.png");		}
#previewFeet.birdman { 	background-image: url("images/feet-birdman.png"); 	}










